* {
  margin: 0px;
  padding: 0px; 
}

.animation{
  opacity: 0;
  transition: all 1s;
}

.fromAbove{
  animation: fromAbove 1s;
}
@keyframes fromAbove {
  0% {
    transform: translateY(-60px);
  }
  100% {
    transform: translateY(0px);
  }
}

body {
  background-color: black !important; }

.grid {
  display: grid; 
  grid-template-columns: 40% 60%;; 
  grid-template-rows: auto 48em 148em auto 114em  75em 26em;

  gap: 0px 0%; 
  grid-template-areas: 
    "header main"
    ". question"
    ". break"
    ". certificate"
    ". opinions"
    ". frequentlyAsked"
    ". guiltyFree"
    
}


p {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.25em;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #A9A9A9;
}

h1 {
  text-transform: uppercase;
  font-family: 'DM Sans', sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.02em;
  text-align: left;
  margin-bottom: 5%;
  color: white; 
}

h2 {
  font-family: sans-serif;
  letter-spacing: -0.02em;
  font-size: 25px !important;
  color: white;
  text-decoration: underline; 
}

nav{
  box-shadow: 0px 8px 12px #3b3c3c7a;
}

.fixed-top {
width: 40%;
}



header {
  background-color: black;
  grid-area: header;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: -webkit-fill-available;
  width: 40%;
  justify-content: center;
  align-content: baseline;
}

.header-info {
  width: 80%;
  /* padding-right: 0; */
  margin-left: auto;
  padding-top: 5%;
  margin-right: auto;
}
.header-text {
  margin-left: 0%;
  text-align: center;
}

.header-text-container{
  width: 100%;
  height: 4em;
  overflow: hide;
  overflow: hidden;
}

.header-info h1 {
  font-family: sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.02em;
  text-align: left;
  color: white; 
  margin-bottom: 10%;
}

.header-info p {
  color: #A9A9A9; }

.container-button{
  display: flex;
  flex-direction: row;
  transition: all 0.1s ease-in;
}

.container-button button {
  height: 48px;
  width: 250px;
  margin: 10% 0%;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  box-shadow: 4px 4px 0px #e2dbdb;
  background-color: #000;
  cursor: pointer;
}

.arrow {
  margin-left: 7%;
  width: 1em;
  background-size: contain;
  height: 1em;
  display: inline-block;
  background-image: url(../images/arrow.png);
}


.container-button button:hover {
  border: 2px solid #b3abab;
  border-radius: 2px;
  box-shadow: 4px 4px 0px #4a4848;
  background-color: white;
}

.container-button button:hover h3 {

  color: #222121;
  font-weight: 700;
}

.container-button button:hover .arrow {

  background-image: url(../images/arrowblack.png) ;
}

.container-button button h3 {

  font-family: 'DM Sans', sans-serif;
  font-size: 1.25em;
  font-weight: 700;
  line-height: 26.4px;
  letter-spacing: -0.02em;
  text-align: left;   
  color: white; 

  text-transform: uppercase;

  margin: auto;
  display: inline-block; 
}

.header-text {
  font-family: 'DM Serif Text', serif;
  font-size: 2.4em;
  font-style: italic;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: 0em;
  color: #DBDBDB26;
  padding: 5px; 

  animation-name: fraseanimacion;
  animation-iteration-count: calc(1);
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
  animation-delay: 0s;
}



@keyframes fraseanimacion {
  0% {
    opacity: 0; }
  90% {
    opacity: 1; }
  100% {   
    opacity: 1; } 
}


main {


  grid-area: main;
  z-index: 100;

}

.text-main {
  font-family: 'DM Serif Display', serif;
  font-size: 1em;
  font-style: italic;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  backdrop-filter: blur(4px);
  color: black; 

  transform: translate(0px, -7em);
  width: 80%;
  margin-left: auto;  
  margin-right: auto;

}

.textMainContainer img {
  width: 100%;
  height: auto;}

.container-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

.container-question {
  grid-area: question;
  z-index: 100;

  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative; 
}

.container-question p {
  margin: auto;
  width: 52%;
  margin: 5px auto; 
}

.container-question img {
  width: 3em; 
}

.questionimg1 {
  position: absolute;
  left: 0px;
  top: 9em; 
}

.questionimg2 {
  position: absolute;
  left: 0px;
  top: 30em; 
}

.questionimg3 {
  position: absolute;
  right: 0px;
  top: 18em; 
}

.questionimg4 {
  position: absolute;
  right: 0px;
  top: 35em; 
}

.tittle-question {
  background-image: url(../images/Rectangle.png);
  background-repeat: no-repeat;
  color: black;
  padding: 10px;
}

.container-break {

  grid-area: break;
  z-index: 100;
  background-image: url(../images/breakBackground.png);
  background-repeat: repeat;
  display: flex;
  justify-content: center; }

.container-breakText { 
  height: 2025px;  
  width: 25em;
  margin: auto;
  background-color: black;
  display: flex;
  flex-direction: column; }

.container-breakText h1 {
  margin: 1em;
  text-align: center;
  font-weight: 700;
 }

.container-break p {
  font-family: DM Serif Display;
  font-size: 1.25em;
  font-style: italic;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.01em;
  text-align: center;
  width: 288px;
  margin: auto; }

.container-break img {
  width: 3em;
  height: 3em; }

.breakImg1 {
  transform: translate(-2em, -122em); }

.breakImg2 {
  transform: translate(23em, -112em); }

.breakImg3 {
  transform: translate(-9em, -94em); }

.breakImg4 {
  transform: translate(16em, -88em); }

.breakImg5 {
  transform: translate(-15em, -70em); }

.breakImg6 {
  transform: translate(10em, -53em); }

.breakImg7 {
  transform: translate(-24em, -42em); }

.breakImg8 {
  transform: translate(26em, -21em); }

.container-certificate {


  grid-area: certificate;
  z-index: 100;

  background: linear-gradient(90deg, #C8C8C8 0%, #DFDFDF 98.66%); }

.container-certificate img {
  width: 100%; }

.container-certificateText {
  height: 117px;
  width: 62%;
  margin: 6em auto; }

.certificateTextA {
  color: black;
  font-weight: 600;
  text-align: center;
  line-height: 28px; }

.certificateTextB-background{
  background-image: url(../images/Rectangle2.png);
  background-repeat: no-repeat;
    background-size: cover;
}

.certificateTextB {
  background-image: url(../images/breakBackground.png);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 600;
  text-align: center;

  background-size: cover;
  text-align: center;
  margin-top: 2em; }

.container-opinions {

  background-color: black;

  grid-area: opinions;
  z-index: 100;
}

.opinions {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95%;
  justify-content: space-between; }

  .img-fluid {
    max-width: 89% !important;
    height: auto;
  }

.opinions-textContainer {
  width: 25em;
  position: relative; }

.opinion-text {
  width: 25em;
  margin: 11em auto; }

.opinion-text img {
  margin: 5% 0%; }

.opinion-text p {
  font-family: 'DM Serif Display', serif;
  font-size: 1.25em;
  font-style: italic;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
}


.whiteText {
  color: white; }

.left {
  text-align: left; }

.right {
  text-align: right;
  margin-top: 19%; }

h4 {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.25em;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  
 
  color: #B8B8B8; }

.imgMarks1 {
  width: 2em;
  position: absolute;
  left: 0em;
  top: 7em; }

.imgMarks2 {
  width: 2em;
  position: absolute;
  right: 0em;
  top: 36em; }

.container-frequentlyAsked {
  background-color: black;
 
  grid-area: frequentlyAsked;
  z-index: 100;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.frequentlyAsked-elements div {
  margin: 3em auto; }

.frequentlyAskedImg {
  width: 25.938em; }

.imgQuestion {
  width: 6em; }

  .container-frequentlyAsked p {
    width: 22em;
    margin-bottom: 3rem;
    text-align: left;
    margin: 0em auto;}

.container-guiltyFree {
  background-color: black;

  grid-area: guiltyFree;
  z-index: 100;

  display: flex;
  flex-direction: column;
  align-items: center; }

.img-animation{
  transition: all 0.3s ease-in-out;
}

.img-animation:hover{
  transform: rotate(-8deg);
}

.container-guiltyFree img {
  width: 23em; 
}







/* RESPONSIVEEEEEEEEEEEEEEEEE */



@media only screen and (max-width: 2056px) {
 

  .header-info h1 {
    font-family: sans-serif;
    font-size: 3.5em;
    font-weight: 700;
    line-height: 66px;}
}



@media only screen and (max-width: 1592px) {
 

  .header-info h1 {
    font-family: sans-serif;
    font-size: 2.9em;
    font-weight: 700;
    line-height: 49px;
  }
}




@media only screen and (max-width: 1366px) {

  .header-info {
   
    padding-top: 10%;   
  }
 
}


@media only screen and (max-width: 1326px) {
  .header-text {
    font-size: 34px;
    text-align: center; } }



@media only screen and (max-width: 1234px) {
  .header-text {
    display: none; 
  } 

  .header-info {
    width: 85%;
  }

 
}


@media only screen and (max-width: 1178px) {
 

  .header-info h1 {
    font-family: sans-serif;
    font-size: 2.6em;
    font-weight: 700;
    line-height: 49px;
}
} 


@media only screen and (max-width: 1081px) {
  .header-info {
    width: 87%;
}
}
@media only screen and (max-width: 1024px) {
  .header-info h1 {
    font-family: sans-serif;
    font-size: 2.5em;
  }
  .container-certificateText {
    height: 117px;
    width: 73%; }
  .container-breakText div img {
    display: none; } 
}

@media only screen and (max-width: 978px) {
  .header-info h1 {
    font-family: sans-serif;
    font-size: 1.9em;
  }

  .header-info h1 {
    line-height: 37px;  
}
}

  

@media only screen and (max-width: 900px) {

  .container-frequentlyAsked p {
    width: 74%;

  }

  .frequentlyAsked-elements h2 {
    text-align: center;
  }

  .header-info {
    padding-top: 20%;
}
}

@media only screen and (max-width: 828px) {
.header-info {
  width: 90%;
  padding-top: 26%;
}
}

@media only screen and (max-width: 802px) {
p {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.20em;}
}

@media only screen and (max-width: 768px) {
  .header-info h1 {
    font-family: sans-serif;
    font-size: 1.5em;
  
  }

  .header-info {
    padding-top: 35%; }
  p {
    font-family: "DM Sans", sans-serif;
    font-size: 1.07em;
  }

  .opinions-textContainer {
    width: auto;
    position: relative;
  }

  h1{
    font-size: 1.5em;
  }
}


@media only screen and (max-width: 700px) {
  header {
    width: 100%;  
    z-index: 800;
  }

  .header-info {
    padding: 00%;
    padding-top: 17%;
    padding-bottom: 11%;
    width: 72%;
  }

  .header-info h1 {
    font-family: sans-serif;
    font-size: 2.7em;
    line-height: 52px;
  }

  p {
    font-family: "DM Sans", sans-serif;
    font-size: 1.10em;
  }

  .grid {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: auto auto auto auto auto auto auto auto; 
    gap: 0px 0%; 
    grid-template-areas: 
    "header"
    "main"
    "question"
    "break"
    "certificate"
    "opinions"
    "frequentlyAsked"
    "guiltyFree"
  }
  .fixed-top {

    width: 100% !important;
  }
  .container-button{
 
    justify-content: center;
  }
  .container-button button {
    position: fixed;
    z-index: 20;
    bottom: 1em;
    margin: 0%;
  }

  header {

    height: auto;
    position: inherit; }
  .header-text {
    display: none; }
  .container-flex {
    align-items: center; }

  .text-main {
  
    transform: translate(0px, -9em);
  }

  .container-question {
    grid-area: question;
    z-index: 100;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: normal;
  }
 
  .container-question {
    height: 552px;
  }
  .container-question img {

    display: none;
  }
 .container-question p {
  width: 71%;
  margin: 14px auto;
  }
  .container-break {
    height: 2182px;
   }
  .container-breakText {
    height: auto; }
  .container-break p {
    margin: 16% auto; }
  .container-certificate {

    height: 667px; }
  .container-certificateText {
    height: 117px;
    width: 94%;
    margin: 6em auto; }
  .container-opinions {

    height: auto; }
    .img-fluid {
      max-width: 100% !important;
      height: auto;
    }

  .opinion-text {
    width: 85%;
    margin: 12em auto; }
  .imgMarks1 {
    left: 3em;
    top: 7em; }
  .imgMarks2 {
    right: 3em;
    top: 36em; }
  .opinions {
    height: 87%; }
  .container-frequentlyAsked {
 
    height: auto; }
  h2 {
    text-align: center; }
  .frequentlyAskedImg {
    width: 80%; }
  .container-frequentlyAsked p {
    width: 85%; }
  .container-breakText div img {
    display: none; }
  .container-guiltyFree {
    height: 420px;
  }
}

@media only screen and (max-width: 666px) and (min-width: 598px) {
  p {
    font-size: 1.30em;
  }
}

@media only screen and (max-width: 526px) {
  .header-info h1 {
    font-family: sans-serif;
    font-size: 2.4em;
}
}

@media only screen and (max-width: 480px) {
  .header-info h1 {
    font-family: sans-serif;
    font-size: 2.1em;
  }
  .imgMarks2 {
    right: 2em;
    top: 39em; }
  .imgMarks1 {
    left: 2em; 
  } 

  .container-guiltyFree img {
    width: 17em;
  }
}

@media only screen and (max-width: 412px) {

  .header-info {
  
    padding-top: 25%;
  }
  .header-info h1 {
    font-family: sans-serif;
    font-size: 1.9em;
    line-height: 1.2;
}
  .container-certificateText {
    height: 117px;
    width: 93%; 
  }
  .imgOpinions {
    height: 24em; 
  }
  .container-breakText {
    width: 85%;
  } 

  .text-main {

    width: 90%;
    transform: translate(0px, -7em);
  }


  .container-guiltyFree {
    height: 350px;
  }

  .container-question {
    height: 614px;
}
}

@media only screen and (max-width: 375px) {

  
  .header-info h1 {
    font-family: sans-serif;
    font-size: 2em;
}

  h2 {
    font-size: 21px !important;
    text-align: center; }

  .imgOpinions {
    height: 20em; }
  .container-certificate {
    height: 546px; }

  .container-frequentlyAsked p {
    width: 85%; 
  } 
}

@media only screen and (max-width: 360px) {
  .container-break {
    height: 2002px;
  }

  .header-info {
    width: 82%;
}

.text-main {
  width: 84%;
  transform: translate(0px, -8em);
}
  .text-main {
    width: 95%;
    transform: translate(0px, -8em);
  }
  .container-question {
    height: 659px;
  }



  .imgMarks2 {
    right: 2em;
    top: 40em; 
  } 
}
